* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f9fbfd;
    padding: 50px 20px;
}

.main-title {
    text-align: center;
    color: #2b6cff;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

/* Form Styling */
.form-card {
    flex: 1.5;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.form-card h2 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 25px;
}

.input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.full-width { margin-bottom: 15px; }

.dept-options {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

textarea {
    height: 150px;
    resize: none;
    margin-bottom: 15px;
}

.file-upload p {
    font-size: 0.75rem;
    color: #888;
    margin: 10px 0;
}

.captcha {
    gap: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.submit-btn {
    background-color: #ff4d00;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.info-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-card {
    background: white;
    padding: 30px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.blue { background: #eef4ff; color: #2b6cff; }
.pink { background: #fff0f6; color: #ff66a3; }
.orange { background: #fff4e6; color: #ff922b; }

.info-card h3 { font-size: 1rem; margin-bottom: 10px; }
.info-card p { font-size: 0.85rem; color: #777; line-height: 1.4; }
.info-card a { 
    font-size: 0.9rem; 
    color: #2b6cff; 
    text-decoration: none; 
    margin-top: 10px;
    font-weight: 600;
}


@media (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
    }
    .info-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .input-row {
        flex-direction: column;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }
    .dept-options {
        flex-wrap: wrap;
        gap: 10px;
    }
    .main-title {
        font-size: 2rem;
    }
}